<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
	<div class="cardapio">
			<app-food-item></app-food-item>
	  <!-- Modal Structure -->
		<div id="modal" class="modal bottom-sheet" materialize="modal">
			<div class="modal-content">
        <h4>Carrinho</h4>
        <p>{{items().length}} items no carrinho!</p>
        <li *ngFor="let item of items()" class="text-white list-cart" style="margin-bottom: 2rem;">
          <a class="btn-floating btn waves-effect waves-light pink" (click)="remove(CartItem)">x</a>
            {{item.foodItem.name}} - {{ item.value() | currency: 'BRL'}}

          <a class="btn-floating btn waves-effect waves-light pink">
            -
           </a>
            <p class="btn-floating btn waves-effect waves-light pink">
                {{ item.quantity }}
            </p>
              <a class="btn-floating btn waves-effect waves-light pink">
                +
               </a>
        </li>
        <a *ngIf="items().length > 0" style="margin-bottom: 2rem; padding-top: 3rem; color: white; font-size: 18px;" (click)="clear()">
          Limpar carrinho
        </a>
        <h5>
        <p>
              {{ total() | currency: 'BRL' }}
        </p>
      </h5>

			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-white btn-flat pink">Finalizar compra	<i class="material-icons">shopping_cart</i></a>
			</div>
		</div>
</div>
